name: MasterDeployCI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.16.0]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm install
    - name: Deploy to GH Pages
      env:
        CI: false
      run: |
        git config --global user.email "guohua_lee@163.com"
        git config --global user.name "tiagralee"
        git remote set-url origin https://1b4747f30ef7e4f34b065e6c6bb749ee1174935c@github.com/loyal-card/mobile-pwa.git
        npm run deploy
        